		<!--welcome-hero start -->
<!--		<header id="home" class="welcome-hero"> -->

			<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<!--/.carousel-indicator -->
				 <ol class="carousel-indicators">
					<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
				</ol><!-- /ol-->
				<!--/.carousel-indicator -->

				<!--/.carousel-inner -->
				<div class="carousel-inner" role="listbox">
					<!-- .item -->
					<div class="item active">
						<div class="single-slide-item slide1">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>Furniture</h4>
													<h2>Upcycled and Recycled</h2>
													<p>
														We find old peices of household furniture or timber such as pallets that is nearing the end of its useful life and find ways to revitalise it, either in its original function or as something else.
													</p>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='https://only1chunts.github.io/Crankier-Hands/furniture'">
														<span class="lnr lnr-plus-circle"></span>
														See our Furniture
													</button>
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="assets/images/slider/slider1.png" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->

					</div><!-- /.item .active-->

					<div class="item">
						<div class="single-slide-item slide2">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>Bric-a-Brac</h4>
													<h2>Pyrex, vintage China and more</h2>
													<p>
														Karen specialises in finding interesting and rare items of vintage crockery, including Pyrex and China. 
													</p>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='https://only1chunts.github.io/Crankier-Hands/bricabrac'">
														<span class="lnr lnr-plus-circle"></span>
														See our Bric-a-Brac
													</button>
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="assets/images/slider/slider2.png" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->

					</div><!-- /.item .active-->

					<div class="item">
						<div class="single-slide-item slide3">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>How we work</h4>
													<h2>Contact us to purchase</h2>
													<p>
														For larger items collection is essential. Smaller items can also be collected, or for a charge we can package and post items. Payment can be made by bank tranfer or cash on collection. 
													</p>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='https://only1chunts.github.io/Crankier-Hands/contact'">
														<span class="lnr lnr-plus-circle"></span>
														Contact us
													</button>
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="assets/images/slider/slider3.png" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
						
					</div><!-- /.item .active -->
				</div><!-- /.carousel-inner -->
			</div> <!-- ./carousel -->