
			<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<!--/.carousel-indicator -->
				 <ol class="carousel-indicators">
					<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
				</ol><!-- /ol-->
				<!--/.carousel-indicator -->

				<div class="owl-carousel">
					{% for item in site.data.carousel.items %} 
					<div> <!--Your Content -->
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>{{item.name}}</h4>
													<p>
														{{item.description}}
													</p>
													<div class="packages-price">
														<p>
															{{item.price}}
															<del>{{item.oldprice}}</del>
														</p>
													</div>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> my list
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button>
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="{{item.image}}" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
					</div> <!-- ./your content-->
					{% endfor %}
				</div> <!-- ./owl-carousel -->
			</div> <!-- ./header-carousel -->

<!-- was sort of working				<!--/.carousel-inner ->
				<div class="carousel-inner" role="listbox">
					<!-- .item ->
					
					<div class="item active">
						<div class="single-slide-item">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>{{item.name}}</h4>
													<p>
														{{item.description}}
													</p>
													<div class="packages-price">
														<p>
															{{item.price}}
															<del>{{item.oldprice}}</del>
														</p>
													</div>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> my list
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button>
												</div><!--/.welcome-hero-txt->
											</div><!--/.single-welcome-hero->
										</div><!--/.col->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="{{item.image}}" alt="slider image">
												</div><!--/.welcome-hero-txt->
											</div><!--/.single-welcome-hero->
										</div><!--/.col->
									</div><!--/.row->
								</div><!--/.welcome-hero-content->
							</div><!-- /.container->
						</div><!-- /.single-slide-item->
					</div><!-- /.item active ->
					
				</div> <!-- /.carousel-inner -->
