<br>
<br>
<p>
<iframe height="300" style="width: 100%;" scrolling="no" title="Siema - auto play &amp; loop" src="https://codepen.io/pawelgrzybek/embed/MbPbLM?default-tab=result&theme-id=light" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
  See the Pen <a href="https://codepen.io/pawelgrzybek/pen/MbPbLM">
  Siema - auto play &amp; loop</a> by Pawel Grzybek (<a href="https://codepen.io/pawelgrzybek">@pawelgrzybek</a>)
  on <a href="https://codepen.io">CodePen</a>.
</iframe>
</p>
<!--

<div class="siema">
  					
					<div> <!--Your Content ->
					{% for item in site.data.carousel.items %} 
								<div class="item">
									<div id="text-part"
									<h4>{{item.name}}</h4>
									<p>	{{item.description}}</p>
										<div class="packages-price">
										<p>	{{item.price}}<del>{{item.oldprice}}</del></p>
										</div>
										<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
										<span class="lnr lnr-plus-circle"></span>add <span>to</span>my list	</button>
									</div><!--/.text-part->
									<div id="image-part">
											<img src="{{item.image}}" alt="slider image">
									</div><!--/.image-part->
								</div><!--/.item->
					{% endfor %}		
					</div> <!-- ./your content->
					
</div>

<!--
			<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<!--/.carousel-indicator ->
				 <ol class="carousel-indicators">
					<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
				</ol><!-- /ol-->
				<!--/.carousel-indicator -->
<!-- was sort of working				<!--/.carousel-inner ->
				<div class="carousel-inner" role="listbox">
					<!-- .item ->
					
					<div class="item active">
						<div class="single-slide-item">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>{{item.name}}</h4>
													<p>
														{{item.description}}
													</p>
													<div class="packages-price">
														<p>
															{{item.price}}
															<del>{{item.oldprice}}</del>
														</p>
													</div>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> my list
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button>
												</div><!--/.welcome-hero-txt->
											</div><!--/.single-welcome-hero->
										</div><!--/.col->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="{{item.image}}" alt="slider image">
												</div><!--/.welcome-hero-txt->
											</div><!--/.single-welcome-hero->
										</div><!--/.col->
									</div><!--/.row->
								</div><!--/.welcome-hero-content->
							</div><!-- /.container->
						</div><!-- /.single-slide-item->
					</div><!-- /.item active ->
					
				</div> <!-- /.carousel-inner -->
